* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table, td, th {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

blockquote, q {
  quotes: "" "";
}

/* Remove annoying border on linked images. */
a img {
  border: none;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  color: #fff;
  background-color: #1A1A1A;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 576px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
}
@media (max-width: 1140px) {
  [class*=__container] {
    scroll-margin-top: calc(10px + 80 * (100vw - 768px) / 372 + 20px);
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    scroll-margin-top: calc(0px + 15 * (100vw - 375px) / 392 + 20px);
  }
}
@media (max-width: 576px) {
  [class*=__container] {
    scroll-margin-top: calc(0px + 15 * (100vw - 375px) / 392 + 25px + 50px + 40 * (100vw - 375px) / 765);
  }
}

.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease;
}
.header._shaded {
  background-color: #101010;
}
@media (max-width: 576px) {
  .header {
    position: fixed;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .header__container {
    justify-content: space-between;
    height: calc(50px + 40 * (100vw - 375px) / 765);
  }
}
@media (max-width: 640px) {
  .header__logo {
    width: 40px;
    height: 33px;
    overflow: hidden;
    transform: translateY(-6px);
  }
  .header__logo img {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: auto;
    height: auto;
    overflow: visible;
    transform: translateY(0px);
    z-index: 5;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 576px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 26px;
    z-index: 2;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    left: 0;
    top: 12px;
    transition: all 0.3s ease;
  }
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #D9D9D9;
  left: 0;
  transition: all 0.3s ease;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger._active span {
  transform: scale(0);
}
.header__burger._active::before, .header__burger._active::after {
  left: -6px;
  width: 141%;
  height: 2.5px;
}
.header__burger._active::before {
  transform: rotate(45deg);
  top: 12px;
}
.header__burger._active::after {
  transform: rotate(-45deg);
  bottom: 12px;
}

.menu {
  margin-left: auto;
  line-height: 90px;
  transition: all 0.3s ease;
  overflow: auto;
}
@media (max-width: 1140px) {
  .menu {
    line-height: calc(50px + 40 * (100vw - 375px) / 765);
  }
}
@media (max-width: 576px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 100px;
    line-height: 4;
  }
  .menu._active {
    top: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .menu__list {
    display: block;
  }
}
.menu__item {
  font-weight: 700;
  font-size: 18px;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 576px) {
  .menu__item {
    font-size: 24px;
    margin: 0;
  }
}
.menu__link {
  color: #FFFFFF;
  display: block;
  padding: 0px 10px;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #34C759;
  background-color: rgba(255, 255, 255, 0.15);
}
@media (max-width: 576px) {
  .menu__link:hover {
    background-color: #303030;
  }
}

.main {
  flex-grow: 1;
  background: top/100% no-repeat url(../img/main_bg.png);
}

.start {
  text-align: center;
}
.start__container {
  padding: 170px 15px 140px;
}
@media (max-width: 1140px) {
  .start__container {
    padding: calc(80px + 90 * (100vw - 375px) / 765) 15px calc(0px + 140 * (100vw - 375px) / 765);
  }
}
.start__title {
  text-transform: capitalize;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.start__title_bold {
  font-weight: 700;
}
@media (max-width: 1140px) {
  .start__title {
    font-size: calc(44px + 26 * (100vw - 375px) / 765);
  }
}
.start__text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: -0.2px;
  color: #fff;
  opacity: 0.7;
  max-width: 590px;
  margin: 0px auto 40px;
}
.start__button {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  padding: 25px 60px;
  background-color: #34C759;
  border-radius: 40px;
  margin-bottom: 50px;
  transition: all 0.3s ease 0s;
}
.start__button:hover {
  color: #fff;
  background-color: #28ad49;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.contacts__item {
  flex: 0 0 245px;
}

.item-contacts {
  transition: all 0.3s ease 0s;
  padding: 15px;
}
.item-contacts__icon {
  margin-bottom: 16px;
}
.item-contacts__title {
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
}
.item-contacts__subtitle {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.5;
}
.item-contacts:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.item-contacts:hover .item-contacts__subtitle {
  color: #34C759;
  opacity: 1;
}

.about__container {
  max-width: 1110px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 15px 65px 90px;
}
@media (max-width: 1140px) {
  .about__container {
    padding: 15px calc(15px + 50 * (100vw - 768px) / 372) calc(15px + 75 * (100vw - 768px) / 372);
  }
}
@media (max-width: 767px) {
  .about__container {
    padding: 15px;
    margin-bottom: 40px;
  }
}
.about__content {
  max-width: 980px;
}
.about__text {
  font-size: 16px;
  line-height: 1.88;
  color: #A6A6A6;
  margin: 0 auto 90px;
  max-width: 740px;
}
@media (max-width: 1140px) {
  .about__text {
    margin-bottom: calc(15px + 75 * (100vw - 375px) / 765);
  }
}
@media (max-width: 767px) {
  .about__text {
    line-height: 1.4;
  }
}

.title {
  position: relative;
}
.title__fon {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  color: #303030;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 1140px) {
  .title__fon {
    font-size: calc(68px + 32 * (100vw - 375px) / 765);
    top: calc(-20px + -10 * (100vw - 767px) / 373);
  }
}
@media (max-width: 767px) {
  .title__fon {
    display: none;
  }
}
.title__fon::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background: #34C759;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}
.title__fon_about {
  top: -45px;
}
@media (max-width: 1140px) {
  .title__fon_about {
    top: calc(-35px + -10 * (100vw - 767px) / 373);
  }
}
.title__fon_about::after {
  display: none;
}
.title__text {
  font-size: 36px;
  line-height: 2.5;
  margin: 90px auto;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  position: relative;
  z-index: 2;
}
.title__text_about {
  font-size: 30px;
  line-height: 2;
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .title__text {
    margin-bottom: calc(30px + 30 * (100vw - 768px) / 372);
    margin-top: calc(10px + 80 * (100vw - 768px) / 372);
  }
}
@media (max-width: 767px) {
  .title__text {
    font-size: calc(40px + 20 * (100vw - 375px) / 392);
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    margin-top: calc(0px + 15 * (100vw - 375px) / 392);
  }
}

.slider {
  position: relative;
  padding: 0px 62px;
}
@media (max-width: 1140px) {
  .slider {
    padding: 0 calc(45px + 17 * (100vw - 768px) / 372);
  }
}
@media (max-width: 576px) {
  .slider {
    padding: 0px;
  }
}
.slider__item {
  padding: 0 15px;
}
@media (max-width: 576px) {
  .slider__item {
    padding: 0px;
  }
}
.slider__image {
  width: 100%;
  max-width: 350px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: solid 2px #303030;
  border-radius: 50%;
}
@media (max-width: 1140px) {
  .slider .slick-arrow {
    width: calc(40px + 20 * (100vw - 768px) / 372);
    height: calc(40px + 20 * (100vw - 768px) / 372);
  }
}
@media (max-width: 767px) {
  .slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/about/arrow.svg) center/26px 26px no-repeat;
  transform: translate(0%, -50%);
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/about/arrow.svg) center/26px 26px no-repeat;
  transform: translate(0%, -50%) rotate(180deg);
}

.work__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px;
}

.work-card {
  flex: 0 0 285px;
  padding: 0px 15px 30px;
  text-align: left;
}
@media (max-width: 767px) {
  .work-card {
    flex: 1 0 285px;
  }
}
@media (max-width: 576px) {
  .work-card {
    flex: 1 0 265px;
  }
}
.work-card__wrapper {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px;
  transition: all 0.3s ease 0s;
  height: 100%;
}
.work-card__wrapper:hover {
  background: #34C759;
}
.work-card__wrapper:hover .work-card__title,
.work-card__wrapper:hover .work-card__text {
  color: #191919;
}
.work-card__wrapper:hover .work-card__title::after {
  background: #191919;
}
.work-card__title {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 36px;
}
.work-card__title::after {
  display: block;
  content: "";
  width: 56px;
  height: 2px;
  background: #34C759;
  position: relative;
  top: 10px;
  z-index: 5;
}
.work-card__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dishes__content {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
  justify-content: center;
}

.dishes-card {
  flex: 1 0 375px;
  max-width: 380px;
  padding: 0px 15px 30px;
  text-align: left;
}
@media (max-width: 767px) {
  .dishes-card {
    max-width: 100%;
  }
}
.dishes-card__wrapper {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dishes-card__wrapper:hover .dishes-card__photo img {
  transform: scale(1.1);
}
.dishes-card__photo {
  position: relative;
  overflow: hidden;
}
.dishes-card__photo img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease 0.3s;
}
.dishes-card__photo::before {
  display: block;
  content: "";
  background: url(../img/dishes/arrow.png) top right/40px 40px no-repeat;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.dishes-card__content {
  padding: 30px 30px 0px;
  flex: 1 1 auto;
}
.dishes-card__title {
  font-size: 32px;
  line-height: 0.94;
  color: #D9D9D9;
  transition: color ease 0.3s;
}
.dishes-card__title:hover {
  color: #FFFFFF;
}
.dishes-card__subtitle {
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}
.dishes-card__description {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: #85878C;
  margin: 20px 0 24px;
}
.dishes-card__basement {
  display: flex;
  align-items: center;
  padding: 0px 24px 24px 30px;
}

.button {
  width: 100px;
  display: block;
  font-weight: 900;
  font-size: 10px;
  line-height: 3.6;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  margin-left: auto;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background: #34C759;
  color: #252525;
  border: 2px solid #34C759;
}

.rate {
  display: flex;
  align-items: center;
}
.rate__stars {
  padding: 6px 15px 5px 5px;
  filter: grayscale(1);
  transition: all 0.3s ease 0s;
}
.rate__stars:hover {
  filter: grayscale(0);
}
.rate__count {
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #B3B3B3;
  padding-top: 3px;
}

.chefs-cards {
  display: flex;
  margin: 8px -15px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.chef-card {
  flex: 0 0 380px;
  padding: 0px 15px 30px;
  text-align: left;
}
.chef-card__data {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.chef-card__avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0px 24px 0px 0px;
}
.chef-card__name {
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: -0.225px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.chef-card__prof {
  line-height: 1.333;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.chefs-menu {
  font-size: 0;
  display: flex;
  justify-items: center;
  align-items: center;
}
.chefs-menu__photo {
  display: block;
  border-radius: 3px;
  height: 65px;
  width: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.chefs-menu__photo:first-child {
  width: 160px;
}
.chefs-menu__photo:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.recipes-colomns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px;
}

.recipes-colomn {
  flex: 0 1 50%;
  padding: 0px 15px 30px;
  text-align: left;
  min-width: 375px;
}
@media (max-width: 767px) {
  .recipes-colomn {
    flex: 1 1 100%;
  }
}
.recipes-colomn_right {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  flex: 0 0 150px;
  display: flex;
  align-items: flex-end;
  padding: 30px 30px 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #252525;
  position: relative;
}
.recipe-card_breakfast {
  background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), center/cover no-repeat url(../img/recipes/recipe-bg-01.jpg);
}
.recipe-card_dinner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center/cover no-repeat url(../img/recipes/recipe-bg-02.jpg);
}
.recipe-card__meals-name {
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #fff;
  min-width: 65px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-right: 15px;
}
.recipe-card__meals-name_breakfast {
  min-width: 90px;
}
.recipe-card__date {
  line-height: 2.08;
  color: #D8D8D8;
  flex: 1 0 auto;
}
.recipe-card__text {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  text-align: left;
  max-height: 62px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe-card__chefs-name {
  display: none;
  font-size: 18px;
  line-height: 2;
  color: #34C759;
}
.recipe-card:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.coverage {
  display: flex;
  font-weight: 700;
  line-height: 2.08;
  color: #D8D8D8;
}
.coverage__views {
  display: flex;
  margin-right: 24px;
  align-items: center;
}
.coverage__coments {
  display: flex;
  align-items: center;
}

.views__icon,
.coments__icon {
  margin-right: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

._fitured {
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
@media (max-width: 1140px) and (min-width: 767px) {
  ._fitured {
    padding: calc(30px + 30 * (100vw - 768px) / 372);
  }
}
@media (max-width: 767px) {
  ._fitured {
    padding: 30px;
  }
}
._fitured > [class*=__meals-name] {
  margin-bottom: 50px;
  margin-right: 0;
}
._fitured > [class*=__date] {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 2.14;
}
._fitured > [class*=__text] {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 1.67;
  max-height: 100%;
  text-align: center;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
._fitured > [class*=__chefs-name] {
  display: block;
  margin-bottom: 30px;
}

.social {
  margin-bottom: 90px;
}
@media (max-width: 1140px) {
  .social {
    margin-bottom: calc(0px + 90 * (100vw - 375px) / 765);
  }
}
.social__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px;
}

.social-colomn {
  flex: 1 0 375px;
  max-width: 380px;
  padding: 0px 15px 30px;
  text-align: left;
}
@media (max-width: 767px) {
  .social-colomn {
    max-width: 520px;
  }
}
.social-colomn__wrapper {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.social-colomn__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.head-col {
  border-bottom: #303030 solid 2px;
  display: flex;
  align-items: center;
  padding: 25px;
}
.head-col__icon {
  border: 2px solid #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.head-col__icon img {
  width: 28px;
  height: 28px;
}
@media (max-width: 1140px) {
  .head-col {
    padding: calc(15px + 10 * (100vw - 375px) / 765) 25px;
  }
}
.head-col__social-name {
  font-size: 14px;
  line-height: 2.14;
  color: #BFBFBF;
  margin-right: 20px;
}

.body-col {
  flex: 1 1 240px;
}
.body-col__wrapper {
  overflow-y: auto;
  max-height: 199px;
  margin: 20px 15px 20px 30px;
  scrollbar-width: thin;
}
.body-col__wrapper_instagram {
  margin: 0;
  font-size: 0px;
  max-height: 240px;
}
.body-col__wrapper::-webkit-scrollbar {
  width: 4px;
}
.body-col__wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #303030;
}
.body-col__wrapper > *:not(:last-child) {
  margin-bottom: 10px;
}
.body-col__date {
  font-size: 14px;
  line-height: 2.14;
  color: #737373;
}
.body-col__text {
  font-size: 14px;
  line-height: 2.14;
  color: rgba(255, 255, 255, 0.7);
  max-width: calc(100% - 11px);
}
.body-col__author {
  font-size: 14px;
  line-height: 2.14;
  color: #34C759;
}
.body-col__insta-picture {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.body-col__insta-link {
  position: relative;
  display: inline-block;
  width: 33.333%;
}
.body-col__insta-link:not(:last-child) {
  margin: 0;
}
.body-col__insta-link::before {
  content: "";
  display: block;
  background: #34C759 url(../img/social/icons/arrow.svg) center/20px 20px no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.body-col__insta-link:hover::before {
  opacity: 1;
}

.footer-contacts {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
}

.footer {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 0px;
  text-align: center;
  border-top: solid 2px #303030;
}
.footer__logo {
  margin: 0px 0px 10px 0px;
}
.footer__rights {
  color: #737373;
  font-size: 12px;
  line-height: 2;
}