@import "_null";

@font-face {
	font-family: 'Helvetica';
		src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica';
		src: url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
		url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Helvetica';
		src: url('../fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
		url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

// ==================================
html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	color: #fff;
	background-color: #1A1A1A;
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 12px;

	@media (max-width: 576px) {
		&.lock {
			overflow: hidden;
		}
	}
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// ===============================
// HEADER

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
	text-align: center;

	@media (max-width: 1140px) {
		scroll-margin-top: calc(10px + (90 - 10) * ((100vw - 768px) / (1140 - 768)) + 20px);
	}

	@media (max-width: 767px) {
		scroll-margin-top: calc(0px + (15 - 0) * ((100vw - 375px) / (767 - 375)) + 20px);
	}

	@media (max-width: 576px) {
		scroll-margin-top: calc(0px + (15 - 0) * ((100vw - 375px) / (767 - 375)) + 25px + (50px + (90 - 50) * ((100vw - 375px) / (1140 - 375))));
	}
}

.header {
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	transition: all 0.5s ease;

	&._shaded {
background-color: #101010;
	}

	@media (max-width: 576px) {
		position: fixed;
	}

	&__container {
		display: flex;
		align-items: center;

		@media (max-width: 576px){
			justify-content: space-between;
			height: calc(50px + (90 - 50) * ((100vw - 375px) / (1140 - 375)));
		}
	}

	&__logo {
		@media (max-width: 640px) {
			width: 40px;
			height: 33px;
			overflow: hidden;
			transform: translateY(-6px);

			& img {
				height: 100%;
			}
		}

		@media (max-width: 576px) {
			width: auto;
			height: auto;
			overflow: visible;
			transform: translateY(0px);
			z-index: 5;
		}
	}

	&__burger {
		display: none;

		@media (max-width: 576px) {
			display: block;
			position: relative;
			width: 30px;
			height: 26px;
			z-index: 2;

			& span {
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #D9D9D9;
				left: 0;
				top: 12px;
				transition: all 0.3s ease;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #D9D9D9;
			left: 0;
			transition: all 0.3s ease;
		}

		&::before{
			top: 0;
		}

		&::after{
			bottom: 0;
		}

		&._active span {
			transform: scale(0);
		}


		&._active::before,
		&._active::after {
			left: -6px;
			width: 141%;
			height: 2.5px;
		}

		&._active::before {
			transform: rotate(45deg);
			top: 12px;
		}

		&._active::after {
			transform: rotate(-45deg);
			bottom: 12px;
		}
}
}

.menu {
	margin-left: auto;
	line-height: 90px;
	transition: all 0.3s ease;
	overflow: auto;

	@media (max-width: 1140px) {
		line-height: calc(50px + (90 - 50) * ((100vw - 375px) / (1140 - 375)));
	}

	@media (max-width: 576px) {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding-top: 100px;
		line-height: 4;

		&._active {
			top: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;

		@media (max-width: 576px) {
			display: block;
		}
	}

	&__item {
		font-weight: 700;
		font-size: 18px;
		margin: 0px 0px 0px 20px;

		@media (max-width: 576px) {
			font-size: 24px;
			margin: 0;
		}
	}

	&__link {
		color: #FFFFFF;
		display: block;
		padding: 0px 10px;
		transition: all 0.3s ease 0s;

		&:hover {
			color: #34C759;
			background-color: rgba(255, 255, 255, 0.15);

			@media (max-width: 576px) {
				background-color: #303030;
			}
		}
	}
}


.main {
	flex-grow: 1;
	background: top / 100% no-repeat url(../img/main_bg.png);
}
// ==================================
// START
.start {

	text-align: center;

	&__container {
		padding: 170px 15px 140px;

		@media (max-width: 1140px) {
			padding: calc(80px + (170 - 80) * ((100vw - 375px) / (1140 - 375))) 15px calc(0px + (140 - 0) * ((100vw - 375px) / (1140 - 375)));
		}
	}

	&__title {
		text-transform: capitalize;
		font-size: 72px;
		line-height: 1.2;
		letter-spacing: 0.1em;
		color: #FFFFFF;
		margin-bottom: 16px;
		
		&_bold {
			font-weight: 700;
		}

		@media (max-width: 1140px) {
			font-size: calc(44px + (72 - 46) * ((100vw - 375px) / (1140 - 375)));
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: -0.2px;
		color: #fff;
		opacity: 0.7;
		max-width: 590px;
		margin: 0px auto 40px;
	}

	&__button {
		display: inline-block;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 0.2em;
		color: #1A1A1A;
		padding: 25px 60px;
		background-color: #34C759;
		border-radius: 40px;
		margin-bottom: 50px;
		transition: all 0.3s ease 0s;

		&:hover {
			color: #fff;
			background-color: #28ad49;
		}
	}
}

.contacts {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: center;

	&__item {
		flex: 0 0 245px;
	}
}

.item-contacts {
	transition: all 0.3s ease 0s;
	padding: 15px;
	
	&__icon {
		margin-bottom: 16px;
	}

	&__title {
		font-size: 16px;
		line-height: 1.88;
		color: #FFFFFF;
	}

	&__subtitle {
		font-size: 14px;
		color: #FFFFFF;
		opacity: 0.5;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.15);
	
		.item-contacts__subtitle {
		color: #34C759;
		opacity: 1;
		}
	}
}

// ===================================
// ABOUT

.about {

	&__container {
		max-width: 1110px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 15px 65px 90px;

		@media (max-width: 1140px) {
				padding: 15px calc(15px + (65 - 15) * ((100vw - 768px) / (1140 - 768))) calc(15px + (90 - 15) * ((100vw - 768px) / (1140 - 768)));
			}

		@media (max-width: 767px) {
			padding: 15px;
			margin-bottom: 40px;
		}
		}

	&__content {
		max-width: 980px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.88;
		color: #A6A6A6;
		margin: 0 auto 90px;
		max-width: 740px;

		@media (max-width: 1140px) {
			margin-bottom: calc(15px + (90 - 15) * ((100vw - 375px) / (1140 - 375)));
		}

		@media (max-width: 767px) {
			line-height: 1.4;
		}
	}
}

.title {

	position: relative;

	&__fon {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		text-indent: 0.2em;
		color: #303030;
		position: absolute;
		left: 0;
		right: 0;
		top: -30px;
		text-align: center;
		margin: 0 auto;
		z-index: 1;

		@media (max-width: 1140px) {
			font-size: calc(68px + (100 - 68) * ((100vw - 375px) / (1140 - 375)));
			top: calc(-20px + (-30 + 20) * ((100vw - 767px) / (1140 - 767)));
		}

		@media (max-width: 767px) {
			display: none;
		}

		&::after {
			display: block;
			content: '';
			width: 60px;
			height: 2px;
			background: #34C759;
			position: relative;
			z-index: 5;
			margin: 0 auto;
		}

		&_about {
			top: -45px;

			@media (max-width: 1140px) {
			top: calc(-35px + (-45 + 35) * ((100vw - 767px) / (1140 - 767)));
			}

			&::after {
				display: none;
			}
		}
	}

	&__text {
		font-size: 36px;
		line-height: 2.5;
		margin: 90px auto;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		position: relative;
		z-index: 2;

		&_about {
			font-size: 30px;
			line-height: 2;
			margin-bottom: 60px;
		}

		@media (max-width: 1140px) {
			margin-bottom: calc(30px + (60 - 30) * ((100vw - 768px) / (1140 - 768)));
			margin-top: calc(10px + (90 - 10) * ((100vw - 768px) / (1140 - 768)));
		}

		@media (max-width: 767px) {
			font-size: calc(40px + (60 - 40) * ((100vw - 375px) / (767 - 375)));
			font-weight: 900;
			line-height: 1;
			letter-spacing: 0.1em;
			margin-bottom: 15px;
			margin-top: calc(0px + (15 - 0) * ((100vw - 375px) / (767 - 375)));
		}
	}
}

// ++++SLIDER++++
.slider {
	position: relative;
	padding: 0px 62px;

	@media (max-width: 1140px) {
		padding: 0 calc(45px + (62 - 45) * ((100vw - 768px) / (1140 - 768)));
	}

	@media (max-width: 576px) {
		padding: 0px;
	}

	&__item {
		padding: 0 15px;

		@media (max-width: 576px) {
				padding: 0px;
			}
	}

	&__image {
		width: 100%;
		max-width: 350px;
		height: 270px;
		object-fit: cover;
		margin: 0 auto;
	}
	
	//arrows
	& .slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 2;
		font-size: 0;
		width: 60px;
		height: 60px;
		border: solid 2px #303030;
		border-radius: 50%;

		@media (max-width: 1140px) {
			width: calc(40px + (60 - 40) * ((100vw - 768px) / (1140 - 768)));
			height: calc(40px + (60 - 40) * ((100vw - 768px) / (1140 - 768)));
		}
		@media (max-width: 767px) {
			width: 40px;
			height: 40px;
		}
	}

	//arrow left
	& .slick-arrow.slick-prev {
		left: 0;
		background: url(../img/about/arrow.svg) center / 26px 26px no-repeat;
		transform: translate(0%, -50%);
	}

	//arrow right
	& .slick-arrow.slick-next {
		right: 0;
		background: url(../img/about/arrow.svg) center / 26px 26px no-repeat;
		transform: translate(0%, -50%) rotate(180deg);
		
	}
}


// =====================
// WORK

.work {

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -15px;
	}
}

.work-card {
	flex: 0 0 285px;
	padding: 0px 15px 30px;
	text-align: left;
	// max-width: 285px;

	@media (max-width: 767px) {
			// max-width: 50%;
			flex: 1 0 285px;
		}

	@media (max-width: 576px) {
			// max-width: 50%;
			flex: 1 0 265px;
		}
	
	&__wrapper{
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 24px;
		transition: all 0.3s ease 0s;
		height: 100%;

		&:hover {
				background: #34C759;
		
				.work-card__title,
				.work-card__text {
					color: #191919;
				}
		
				.work-card__title::after {
					background: #191919;
				}
			}
	}

	&__title {
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #fff;
		margin-bottom: 36px;

		&::after {
			display: block;
			content: '';
			width: 56px;
			height: 2px;
			background: #34C759;
			position: relative;
			top: 10px;
			z-index: 5;
			}
	}

	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
}

// =================================
// DISHES

.dishes {

	&__content {
		display: flex;
		margin: 0px -15px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.dishes-card {
	flex: 1 0 375px;
	max-width: 380px;
	padding: 0px 15px 30px;
	text-align: left;

	@media (max-width: 767px) {
		max-width: 100%;
	}

	&__wrapper {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		overflow: hidden;
		height: 100%;
		display: flex;
		flex-direction: column;

		&:hover .dishes-card__photo img {
			transform: scale(1.1);
		}
	}

	&__photo {
		position: relative;
		overflow: hidden;

		& img {
			width: 100%;
			height: 260px;
			object-fit: cover;
			transition: all ease 0.3s;
		}

		&::before {
			display: block;
			content: "";
			background: url(../img/dishes/arrow.png) top right / 40px 40px no-repeat;
			position: absolute;
			top: 24px;
			right: 24px;
			width: 40px;
			height: 40px;
			z-index: 2;
		}
	}

	&__content {
		padding: 30px 30px 0px;
		flex: 1 1 auto;
	}

	&__title {
		font-size: 32px;
		line-height: 0.94;
		color: #D9D9D9;
		transition: color ease 0.3s;

		&:hover {
			color: #FFFFFF;
		}
	}

	&__subtitle {
		line-height: 1.33;letter-spacing: -0.15px;
		color: #A4A8B2;
	}

	&__description {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878C;
		margin: 20px 0 24px;
	}

	&__basement {
		display: flex;
		align-items: center;
		padding: 0px 24px 24px 30px;
	}
}

.button {
	width: 100px;
	display: block;
	font-weight: 900;
	font-size: 10px;
	line-height: 3.6;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	background: #262626;
	border: 2px solid #303030;
	border-radius: 30px;
	margin-left: auto;
	transition: all 0.3s ease 0s;

	&:hover {
		background: #34C759;
		color: #252525;
		border: 2px solid #34C759;
	}
}

.rate {
	display: flex;
	align-items: center;

	&__stars {
		padding: 6px 15px 5px 5px;
		filter: grayscale(1);
		transition: all 0.3s ease 0s;

		&:hover{
			filter: grayscale(0);
		}
	}

	&__count {
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 1.5px;
		color: #B3B3B3;
		padding-top: 3px;
	}
}


// =================================
// CHEFS

.chefs-cards {
	display: flex;
	margin: 8px -15px 0;
	flex-wrap: wrap;
	justify-content: center;
}

.chef-card {
	flex: 0 0 380px;
	padding: 0px 15px 30px;
	text-align: left;

	&__data {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	&__avatar {
		width: 65px;
		height: 65px;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		margin: 0px 24px 0px 0px;
	}

	&__name {
		font-size: 18px;
		line-height: 1.167;
		letter-spacing: -0.225px;	
		color: #FFFFFF;
		margin-bottom: 6px;
	}

	&__prof {
		line-height: 1.333;
		letter-spacing: -0.15px;	
		color: rgba(255, 255, 255, 0.5);}

}

.chefs-menu {
	font-size: 0;
	display: flex;
	justify-items: center;
	align-items: center;

	&__photo {
		display: block;
		border-radius: 3px;
		height: 65px;
		width: 65px;
		object-fit: cover;
		object-position: center;

		&:first-child{
			width: 160px;
		}

		&:not(:last-child){
			margin: 0px 30px 0px 0px;
		}
	}
}


// ===============================
// RECIPES

.recipes-colomns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px -15px;
}

.recipes-colomn {
		flex: 0 1 50%;
		padding: 0px 15px 30px;
		text-align: left;
		min-width: 375px;

	@media (max-width: 767px) {
			flex: 1 1 100%;
		}

	&_right {
		display: flex;
		flex-direction: column;
	}
}

.recipe-card {
	flex: 0 0 150px;
	display: flex;
	align-items: flex-end;
	padding: 30px 30px 25px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	background-color: #252525;
	position: relative;

	&_breakfast {
		background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), center / cover no-repeat url(../img/recipes/recipe-bg-01.jpg);
	}

	&_dinner {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center / cover no-repeat url(../img/recipes/recipe-bg-02.jpg);
	}

	&__meals-name {
		font-weight: 900;
		font-size: 10px;
		line-height: 2.5;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #fff;
		min-width: 65px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		margin-right: 15px;
		
		&_breakfast {
			min-width: 90px;
		}
	}

	&__date {
		line-height: 2.08;
		color: #D8D8D8;
		flex: 1 0 auto;
	}

	&__text {
		position: absolute;
		top: 30px;
		left: 30px;
		right: 30px;
		font-size: 16px;
		line-height: 1.88; //to 1.3
		color: #FFFFFF;
		text-align: left;
		max-height: 62px;
		display: -webkit-box !important;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__chefs-name {
		display: none;
		font-size: 18px;
		line-height: 2;
		color: #34C759;
	}

	&:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
}

.coverage {
	display: flex;
	font-weight: 700;
	line-height: 2.08;
	color: #D8D8D8;

	&__views {
		display: flex;
		margin-right: 24px;
		align-items: center;
	}

	&__coments {
		display: flex;
		align-items: center;
	}
}

.views,
.coments {

	&__icon {
		margin-right: 15px;
		object-fit: contain;
	}

}


._fitured {
	height: 100%;
	flex-direction: column;
	align-items: center;
	padding: 60px;

	@media (max-width: 1140px) and (min-width: 767px) {
		padding: calc(30px + (60 - 30) * ((100vw - 768px) / (1140 - 768)));
	}

	@media (max-width: 767px){
		padding: 30px;
	}

	&>[class*="__meals-name"]{
		margin-bottom: 50px;
		margin-right: 0;
	}

	&>[class*="__date"] {
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 2.14;
	}

	&>[class*="__text"] {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		margin-bottom: 45px;
		font-size: 24px;
		line-height: 1.67;
		max-height: 100%;
		text-align: center;
		display: -webkit-box !important;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&>[class*="__chefs-name"] {
		display: block;
		margin-bottom: 30px;
	}
}


// =================================
// SOCIAL


.social {
	margin-bottom: 90px;

	@media (max-width: 1140px) {
		margin-bottom: calc(0px + (90 - 0) * ((100vw - 375px) / (1140 - 375)));
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -15px;
	}
}

.social-colomn {
	flex: 1 0 375px;
	max-width: 380px;
	padding: 0px 15px 30px;
	text-align: left;

	@media (max-width: 767px) {
		max-width: 520px;
	}
	
	&__wrapper {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
	}
}

.social-colomn__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.head-col {
	border-bottom: #303030 solid 2px;
	display: flex;
	align-items: center;
	padding: 25px;

	&__icon {
		border: 2px solid #303030;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;

		& img {
			width: 28px;
			height: 28px;
		}
	}

	@media (max-width: 1140px){
		padding: calc(15px + (25 - 15) * ((100vw - 375px) / (1140 - 375))) 25px;
	}

	&__social-name {
		font-size: 14px;
		line-height: 2.14;
		color: #BFBFBF;
		margin-right: 20px;
	}
}

.body-col {
	flex: 1 1 240px;

	&__wrapper {
		overflow-y: auto;
		max-height: 199px;
		margin: 20px 15px 20px 30px;
		scrollbar-width: thin;

		&_instagram {
			margin: 0;
			font-size: 0px;
			max-height: 240px;
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb{
			border-radius: 10px;
			background: #303030;
		}

		&>*:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__date {
		font-size: 14px;
		line-height: 2.14;
		color: #737373;
	}

	&__text {
		font-size: 14px;
		line-height: 2.14;
		color: rgba(255, 255, 255, 0.7);
		max-width: calc(100% - 11px);
	}

	&__author {
		font-size: 14px;
		line-height: 2.14;
		color: #34C759;
	}

	&__insta-picture {
		width: 100%;
		height: 120px;
		object-fit: cover;
		object-position: center;

	}

	&__insta-link {
		position: relative;
		display: inline-block;
		width: 33.333%;

		&:not(:last-child) {
				margin: 0;
			}

		&::before {
				content: '';
				display: block;
				background: #34C759 url(../img/social/icons/arrow.svg) center / 20px 20px no-repeat;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.3s ease 0s;
			}

		&:hover {

			&::before{
				opacity: 1;
			}
		}
	}
}

//============================================
//CONTACTS
.footer-contacts {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 15px 0px;
}

//============================================
//FOOTER

.footer {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 30px 0px;
	text-align: center;
	border-top: solid 2px #303030;

	&__logo {
		margin: 0px 0px 10px 0px;
	}

	&__rights {
		color: #737373;
		font-size: 12px;
		line-height: 2;
	}
}

